<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description"
        content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>

  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro"
        rel="stylesheet">

  <link rel="stylesheet" href="./static/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="./static/css/index.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script defer src="./static/js/fontawesome.all.min.js"></script>
  <script src="./static/js/index.js"></script>
</head>
<body>


<section class="hero">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <div class="columns is-centered">
        <div class="column has-text-centered">
          <h1 class="title is-1 publication-title">{{ page.title }}</h1>
          {% if page.authors %}
          <div class="is-size-5 publication-authors">
            <span class="author-block">
              {{ page.authors }}
            </span>
          </div>
          {% endif %}

          {% if page.affiliations %}
          <div class="is-size-5 publication-authors">
            <span class="author-block">
              {{ page.affiliations }}
            </span>
          </div>
          {% endif %}

          <div class="column has-text-centered">
            <div class="publication-links">
              <!-- PDF Link. -->
              {% if page.paper %}
              <span class="link-block">
                <a href="{{ page.paper }}"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="fas fa-file-pdf"></i>
                  </span>
                  <span>Paper</span>
                </a>
              </span>
              {% endif %}
              <!-- Video Link. -->
              {% if page.video %}
              <span class="link-block">
                <a href="{{ page.video }}"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="fab fa-youtube"></i>
                  </span>
                  <span>Video</span>
                </a>
              </span>
              {% endif %}
              <!-- Code Link. -->
              {% if page.code %}
              <span class="link-block">
                <a href="{{ page.code }}"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="fab fa-github"></i>
                  </span>
                  <span>Code</span>
                  </a>
              </span>
              {% endif %}
              <!-- Dataset Link. -->
              {% if page.data %}
              <span class="link-block">
                <a href="{{ page.data }}"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="fas fa-database"></i>
                  </span>
                  <span>Data</span>
                </a>
              </span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero teaser">
  <div class="container is-max-desktop">
    <div class="hero-body">
      <img src="static/image/quali.svg" alt="qualitative results">
<!--       <h2 class="subtitle has-text-centered">
        <span class="dnerf">Nerfies</span> turns selfie videos from your phone into
        free-viewpoint
        portraits.
      </h2> -->
    </div>
  </div>
</section>
  
<section class="section">
<div class="container is-max-desktop">

<div class="content">
  {{ content }}
</div>

</div>
</section>
<section class="section">
  <div class="container is-max-desktop">
    <h2 class="title is-3">Qualitative Results</h3>
    <p>
      We conduct experiments on various tasks with widely-used video-to-video translation models, <a href="https://arxiv.org/abs/2201.05723">Unsupervised RecycleGAN</a> and <a href="https://arxiv.org/abs/1808.06601">Vid2Vid</a>.
    </p>
    <br>
    <div class="content">
          <h3 class="title is-4">Unsupervised RecycleGAN</h2>
          <p>
            Unsupervised RecycleGAN (Unsup) is the state-of-art video-to-video translation model among CycleGAN-based ones.
            We perform experiments for Unsup on Viper &rarr; Cityscapes (V2C) and translate the videos from Viper dataset to their corresponding segmentation label maps, Viper &rarr; Label (V2L), and vice versa, Label &rarr; Viper (L2V).
          </p>
          <video id="unsup" autoplay controls muted loop playsinline width="80%">
            <source src="./static/videos/original_vs_ours_unsup_v2c.mp4"
                    type="video/mp4">
          </video>
          <video id="unsup" autoplay controls muted loop playsinline width="80%">
            <source src="./static/videos/original_vs_ours_unsup_l2v.mp4"
                    type="video/mp4">
          </video>
    </div>
    <div class="content">
          <h3 class="title is-4">Vid2Vid</h2>
          <p>
            Vid2Vid is a widely-used Pix2PixHD-based video-to-video translation network that serves as a base architecture for various recent video-to-video translation models.
            According to the original model, we evaluate <i>Shortcut-V2V</i> on Edge &rarr; Face (E2F) and Label &rarr; Cityscapes (L2C).
          </p>
          <video id="unsup" autoplay controls muted loop playsinline width="80%">
            <source src="./static/videos/original_vs_ours_vid2vid_e2f.mp4"
                    type="video/mp4">
          </video>
          <video id="unsup" autoplay controls muted loop playsinline width="80%">
            <source src="./static/videos/original_vs_ours_vid2vid_l2c.mp4"
                    type="video/mp4">
          </video>
    </div>
    
</div>
</section>
<section class="section">
  <div class="container is-max-desktop">
    <h2 class="title is-3">Comparison to Baselines</h3>
    <p>
      Since this is the first work that tackles a generally applicable compression framework for video-to-video translation, we compare <i>Shortcut-V2V</i> to the existing compression methods for image-to-image translation, 
      <a href="https://arxiv.org/abs/2103.03467">CAT</a> and <a href="https://arxiv.org/abs/2108.06908">OMGD</a>, regarding video frames as individual images.
      In the case of Vid2Vid, we additionally conduct a comparison to <a href="https://arxiv.org/abs/2207.05049">Fast-Vid2Vid</a>, which is the compression method designed specifically for Vid2Vid.
    </p>
    <br>
    <div class="content">
          <h3 class="title is-4">Unsupervised RecycleGAN</h2>
          
          <video class="center" id="unsup" autoplay controls muted loop playsinline width="80%">
            <source src="./static/videos/comparison_v2c.mp4"
                    type="video/mp4">
          </video>
          <video id="unsup" autoplay controls muted loop playsinline width="80%">
            <source src="./static/videos/comparison_l2v.mp4"
                    type="video/mp4">
          </video>
    </div>
    <div class="content">
          <h3 class="title is-4">Vid2Vid</h2>
          
          <video id="unsup" autoplay controls muted loop playsinline width="80%">
            <source src="./static/videos/comparison_e2f.mp4"
                    type="video/mp4">
          </video>
          <video id="unsup" autoplay controls muted loop playsinline width="80%">
            <source src="./static/videos/comparison_l2c.mp4"
                    type="video/mp4">
          </video>
    </div>
    
</div>
</section>

<section class="section">
  <div class="container is-max-desktop">
    <h2 class="title is-3">Additional Experiments</h3>
    <p>
      VToonify experiments blah blah
    </p>
    <br>
    <div class="content">
          
          <video id="unsup" autoplay controls muted loop playsinline width="80%">
            <source src="./static/videos/comparison_v2c.mp4"
                    type="video/mp4">
          </video>
    </div>
    
</div>
</section>

<section class="section" id="BibTeX">
  <div class="container is-max-desktop content">
    <h2 class="title">BibTeX</h2>
    <pre><code>@article{park2021nerfies,
  author    = {Park, Keunhong and Sinha, Utkarsh and Barron, Jonathan T. and Bouaziz, Sofien and Goldman, Dan B and Seitz, Steven M. and Martin-Brualla, Ricardo},
  title     = {Nerfies: Deformable Neural Radiance Fields},
  journal   = {ICCV},
  year      = {2021},
}</code></pre>
  </div>
</section>


<footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="content">
          <p>
            Website template borrowed from <a
            href="https://github.com/nerfies/nerfies.github.io">NeRFies</a>. 
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
